# Ignore Dart/Flutter build artifacts
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# Ignore IDE files
.idea/
*.iml
*.swp

# Ignore logs
*.log

# Ignore OS files
.DS_Store
